.form.form-horizontal.plan#new_task
  .field
    = text_field_tag :task_title, nil, class: 'form-control', required: true, placeholder: '任务名称',
                     'v-on:keyup.enter' => 'addTask'
    = hidden_field_tag :new_task_path, nil, ':value' => 'list.path'
  .field.add-task-buttons
    %button.btn.btn-sm.btn-default{ :type => "button", 'v-on:click' => 'cancelTask' } 取消
    %button.btn.btn-sm.btn-primary{ :type => "button", 'v-on:click' => 'addTask' } 提交