# SQLite version 3.x
#   gem install sqlite3
#
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem 'sqlite3'
#
default: &default
  adapter: mysql2
  encoding: utf8
  reconnect: false
  pool: 5
  database: taskile
  username: root
  password: ""
  timeout: 5000

development:
  <<: *default
  database: taskile

test:
  <<: *default
  database: taskile_test

production:
  <<: *default
  database: taskile_production
