#page-header{
  position: relative;
  padding: 60px 15px;
  color: #ffffff;
  font-size: 20px;
  background-color: #4c4c4c;
  background-size:150px;
  background-image: url(image_path('headerbg.png'));
  .index-des{
    color: #dfdfdf;
    padding-left: 40px;
    .des-title{
      font-size: 60px;
      line-height: 50px;
      padding-top: 80px;
      padding-bottom: 25px;
    }
    .short-des{
      font-size: 28px;
      line-height: 25px;
      padding-bottom: 25px;
    }
    .full-des{
      font-size: 18px;
      line-height: 15px;
      letter-spacing: 2px;
    }
    .demo-des{
      font-size: 14px;
      margin-top: 26px;
      a{
        color: #fff;
        &:hover{
          color: #4fdad3;
          background-color: transparent;
        }
      }
      &:last-child{
        margin-top: 10px;
      }
    }
  }
  .index-reg{
    padding-left: 0px;
    .reg-from{
      width: 100%;
      max-width: 400px;
      padding: 30px;
      border: 1px solid #777777;
      border-radius: 5px;
      font-size: 13px;
      line-height: 16px;
      background: transparent;
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
      .form-group{
        margin: 0 0 20px 0;
        input{
          height: 40px;
        }
        .reg-btn-index{
          width: 100%;
          font-size: 18px;
        }
      }
      .terms-link{
        margin: -10px 0 5px 0;
        color: #eeeeee;
        &>a{
          color: #4fdad3;
          background-color: inherit;
        }
      }
      .account-link{
        margin: 0 0 5px 0;
        color: #eeeeee;
        &>a{
          color: #dddddd;
          background-color: inherit;
        }
      }
    }
  }
}

.demo-first, .demo-third{
  background-color: #f7f7f7;
}
.home-footer{
  border-top: 5px solid #383838;
  background-color: #4c4c4c;
  padding: 30px 0px;
  color: #fff;
  font-size: 16px;
  .link-item{
    float: right;
    display: inline;
    a{
      color: #fff;
      &:hover{
        color: #4fdad3;
        background-color: transparent;
      }
      &:first-child{
        padding-right: 20px;
      }
    }
  }
}
.demo-pic{
  img{
    width: 100%;
    margin: 20px 0px;
  }
}

#signup-content, #login-content{
  .index-reg{
    margin-top:60px;
  }
  .form-group:last-child{
    margin-bottom:0px;
  }
  .width-btn{
    width: 100%;
    font-size: 16px;
  }
}

#repasswd-content{
  .index-reg{
    margin-top:60px;
  }
}

#reconfirm-content{
  .index-reg{
    margin-top:60px;
  }
}

#edit-profile{
  .edit-padding-left{
    padding-left:2%;
  }
}