// Override bs css code

.btn-primary{
  background-color: #49bcb5;
  border-color: #47b0a9;
  &:hover{
    background-color: #44ada6;
    border-color: #43aaa3;
  }
  &:active, &:focus, &:active:focus{
    background-color: #439d96;
    border-color: #43aaa3;
  }
}
.btn-primary[disabled]:hover {
  background-color: #4bbeb7;
  border-color: #4dc7c0;
}

.alert{
  padding: 6px;
}

.modal-dialog{
  padding: 60px 0px;
}

.modal.fade .modal-dialog {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.modal.fade.in .modal-dialog {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

// Site Header
#navbar-area{
  border-bottom: 1px solid #7c7c7c;
  background-color: #4c4c4c;
  margin-bottom: 0px;
  a{
    color: #f7f7f7;
  }
  a:hover{
    color: #c7c7c7;
  }
  .navbar-header{
    a:hover{
      background-color: #4c4c4c;
    }
  }
  .navbar-logo{
    color: #ffffff;
    float: left;
    height: 50px;
    padding: 5px 5px 5px 0px;
    font-size: 25px;
    line-height: 40px;
  }
  .navbar-logoword{
    float: left;
    height: 50px;
    padding: 15px 10px 10px 3px;
  }
  #color_tag_field{
    padding-top: 8px;
    .color_tag_filed{
      .color-radio {
        & + label {
          margin-right: 12px !important;
          border: none !important;
        }
      }
    }
  }

  #sign-form{
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    .login-btn{
      a{
        padding: 13px 5px 10px 20px;
        &:hover{
          color: #fff;
        }
      }
      button{
        padding: 2px 20px;
        background-color: #4c4c4c;
        border: 1px solid #ffffff;
      }
    }
    .reg-btn{
      a{
        padding: 13px 5px 10px 10px;
        &:hover{
          color: #fff;
        }
      }
      button{
        padding: 2px 20px;
        background-color: #49bcb5;
      }
    }
    button:hover{
      color: #fff;
    }
  }
}


/* Side notes for calling out things */

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bs-callout p:last-child {
  padding-top: 5px;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout+.bs-callout {
  margin-top: -5px;
}

$callout-lists: (-gray: #777, -green: #5cb85c, -blue: #428bca, -red: #d9534f, -yellow: #f0ad4e, -qing: #5bc0de );
@each $color-key, $Color in $callout-lists {
  // bs-callout field
  .bs-callout#{$color-key} {
    border-left-color: $Color;
  }
  .bs-callout#{$color-key} h4 {
    color: $Color;
  }
}

// color select radio
.color-radio {
  display: none;
  & + label {
    border-radius: 50px;
    display: inline-block;
    position: relative;
    margin-right: 6px;
    border: 1px solid #f9f9f9;
  }
  &:checked + label:after {
    content: ' ';
    border-radius: 50px;
    position: absolute;
    border: 2px solid #cccccc;
  }
}
.selected-radio{
  & + label {
    padding: 10px;
    cursor: pointer;
  }
  &:checked + label:after {
    width: 26px;
    height: 26px;
    left: -3px;
    top: -3px;
  }
}

/* Absolute Center Spinner */
.overlay-loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.overlay-loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

/* :not(:required) hides these rules from IE9 and below */
.overlay-loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.overlay-loading:not(:required):after {
  content: '';
  display: block;
  font-size: 14px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: overlay-spinner 2500ms infinite linear;
  -moz-animation: overlay-spinner 2500ms infinite linear;
  -ms-animation: overlay-spinner 2500ms infinite linear;
  -o-animation: overlay-spinner 2500ms infinite linear;
  animation: overlay-spinner 2500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes overlay-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes overlay-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes overlay-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes overlay-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Draggable class */

.draggable-class {
  display: inline;
}

