// 保证footer处于底部
footer{
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0px;
  left: 0px;
}

/* Side notes for calling out things */

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  padding-top: 5px;
  margin-bottom: 0;
  word-wrap: break-word;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout+.bs-callout {
  margin-top: -5px;
}
.bs-callout-gray {
  border-left-color: #777;
}
.bs-callout-gray h4 {
  color: #777;
}
.bs-callout-blue {
  border-left-color: #428bca;
}
.bs-callout-blue h4 {
  color: #428bca;
}
.bs-callout-green {
  border-left-color: #5cb85c;
}
.bs-callout-green h4 {
  color: #5cb85c;
}
.bs-callout-red {
  border-left-color: #d9534f;
}
.bs-callout-red h4 {
  color: #d9534f;
}
.bs-callout-yellow {
  border-left-color: #f0ad4e;
}
.bs-callout-yellow h4 {
  color: #f0ad4e;
}
.bs-callout-qing {
  border-left-color: #5bc0de;
}
.bs-callout-qing h4 {
  color: #5bc0de;
}

#navbar-area{
  margin-bottom: 15px;
}