// Site Header
#navbar-area{
  margin-bottom: 15px;
  #color_tag_field{
    padding-top: 8px;
    .color_tag_filed{
      $ColorTagMarginLeft: 15px;
      font-size: 20px;
      $color-tag-lists: (-gray: #777, -green: #5cb85c, -blue: #428bca, -red: #d9534f, -yellow: #f0ad4e, -qing: #5bc0de );
      @each $color-key, $Color in $color-tag-lists {
        &>.color-tag#{$color-key}{
          color: $Color;
          margin-left: $ColorTagMarginLeft;
        }
      }
      &>.reset-icon{
        color: #a9a3a5;
        margin-left: $ColorTagMarginLeft;
      }
      &> a:hover{
        background: none;
        text-decoration: none;
      }
    }
  }

  #sign-form{
    float: right;
    padding-left: 15px;
    padding-right: 15px;
  }
}


/* Side notes for calling out things */

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  padding-top: 5px;
  margin-bottom: 0;
  word-wrap: break-word;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout+.bs-callout {
  margin-top: -5px;
}

$callout-lists: (-gray: #777, -green: #5cb85c, -blue: #428bca, -red: #d9534f, -yellow: #f0ad4e, -qing: #5bc0de );
@each $color-key, $Color in $callout-lists {
  // bs-callout field
  .bs-callout#{$color-key} {
    border-left-color: $Color;
  }
  .bs-callout#{$color-key} h4 {
    color: $Color;
  }
}

// flash area
#taskile_alert{
  cursor: pointer;
  .flash-remove{
    float: right;
  }
}

