// Place all the styles related to the plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index styles

#plans-list{
  a:hover{
    color: #666;
    text-decoration: none;
  }
  .bs-callout{
    height: 100px;
    &:hover{
      background-color: #f9f9f9;
    }
  }

  .bs-callout-add {
    line-height: 125px;
    text-align: center;
    padding: 0px;
    border-left-width: 1px;
  }
  .bs-callout-add h4 {
    color: #777;
  }

  .bs-callout-add-icon{
    font-size: 50px;
    color: #bbbbbb;
  }
}

#color_tag_field{
  padding-top: 8px;
  .color_tag_filed{
    $ColorTagMarginLeft: 15px;
    font-size: 20px;
    &>.color_tag_gray{
      color: #777;
      margin-left: $ColorTagMarginLeft;
    }
    &>.color_tag_blue{
      color: #428bca;
      margin-left: $ColorTagMarginLeft;
    }
    &>.color_tag_green{
      color: #5cb85c;
      margin-left: $ColorTagMarginLeft;
    }
    &>.color_tag_red{
      color: #d9534f;
      margin-left: $ColorTagMarginLeft;
    }
    &>.color_tag_yellow{
      color: #f0ad4e;
      margin-left: $ColorTagMarginLeft;
    }
    &>.color_tag_qing{
      color: #5bc0de;
      margin-left: $ColorTagMarginLeft;
    }
    &>.reset-icon{
      color: #a9a3a5;
      margin-left: $ColorTagMarginLeft;
    }
  }
}

#sign-form{
  padding-left: 15px;
  padding-right: 15px;
}

#plan-page-header{
  margin: 0px;
  border: none;
  color: #333;
  .plan_title{
    font-size: 20px;
    font-weight: bold;
  }
  .plan_description{
    font-size: 12px;
  }
}