// Place all the styles related to the plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index styles

#plans-list{
  a:hover{
    color: #666;
    text-decoration: none;
  }
  .bs-callout{
    height: 100px;
    &:hover{
      background-color: #f9f9f9;
    }
  }

  .bs-callout-add {
    line-height: 125px;
    text-align: center;
    padding: 0px;
    border-left-width: 1px;
  }
  .bs-callout-add h4 {
    color: #777;
  }

  .bs-callout-add-icon{
    font-size: 50px;
    color: #bbbbbb;
  }
}

#color_tag_field{
  padding-top: 8px;
  .color_tag_filed{
    $ColorTagMarginLeft: 15px;
    font-size: 20px;
    $color-tag-lists: -gray, -green, -blue, -red, -yellow, -qing;
    @each $color-tag in $color-tag-lists {
      $Color: #777;
      @if $color-tag == -gray {
        $Color: #777;
      } @else if $color-tag == -green {
        $Color: #5cb85c;
      } @else if $color-tag == -blue {
        $Color: #428bca;
      } @else if $color-tag == -red {
        $Color: #d9534f;
      } @else if $color-tag == -yellow {
        $Color: #f0ad4e;
      } @else if $color-tag == -qing {
        $Color: #5bc0de;
      }
      &>.color-tag#{$color-tag}{
        color: $Color;
        margin-left: $ColorTagMarginLeft;
      }
    }
    &>.reset-icon{
      color: #a9a3a5;
      margin-left: $ColorTagMarginLeft;
    }
  }
}

#sign-form{
  float:right;
  padding-left: 15px;
  padding-right: 15px;
}

#plan-page-header{
  margin: 0px;
  border: none;
  color: #333;
  padding-bottom: 12px;
  .plan_title{
    font-size: 20px;
    font-weight: bold;
  }
  .plan_description{
    font-size: 12px;
  }
}

#plan-page-content{
  // panel block
  $panel-lists: (panel-gray: #777, panel-green: #5cb85c, panel-blue: #428bca, panel-red: #d9534f, panel-yellow: #f0ad4e, panel-qing: #f0ad4e );
  @each $color-key, $Color in $panel-lists {
    $Font: #333;
    $NormalBorderColor: #eee;
    .#{$color-key} {
      border-color: $NormalBorderColor;
      border-top-color: $Color;
      border-top-width: 5px;
    }
    .#{$color-key} > .panel-heading {
      color: $Font;
      font-weight: bold;
      background-color: #f8f8f8;
      border-color: #f8f8f8;
    }
    .#{$color-key} > .panel-heading .badge {
      color: $Font;
      background-color: $Color;
    }
    .#{$color-key} > .panel-body {
      border-top-color: $NormalBorderColor;
    }
    .#{$color-key} > .panel-footer {
      border-bottom-color: $NormalBorderColor;
    }
  }

  a:hover{
    text-decoration: none;
  }
  .plan-list-add {
    line-height: 40px;
    color: #888;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 5px;
    &:hover{
      background-color: #eaeaea;
      text-decoration: none;
    }
  }
}