- title '我的计划项'
.row#plans-list
  %template{'v-for' => 'plan in plans'}
    .col-md-3
      %a{':href' => 'plan.path'}
        .bs-callout{':class' => 'plan.color_tag'}
          %h4
            {{plan.title}}
          %p
            {{plan.description}}

  .col-md-3
    .bs-callout.bs-callout-add#add-plan-field
      = render 'plans/form'
  .col-md-3
    .bs-callout.bs-callout-add#add-plan-entry
      %i.icon-plus.bs-callout-add-icon

:javascript
  var PlanUrl = '/p.json'
  var planslist = new Vue({
    el: '#plans-list',
    data: {
      plan: {
        title: '',
        description: '',
        color_tag: '',
      },
      plans: null
    },
    created: function () {
      this.fetchData()
    },
    methods: {
      fetchData: function () {
        var xhr = new XMLHttpRequest()
        var self = this
        xhr.open('GET', PlanUrl)
        xhr.onload = function () {
          self.plans = JSON.parse(xhr.responseText)
        }
        xhr.send()
      },
      addPlan: function () {
        var xhr = new XMLHttpRequest()
        var self = this
        xhr.open("POST", PlanUrl)
        xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded")
        xhr.onload = function () {
          result = JSON.parse(xhr.responseText)
          self.plans.push(result)
          $('#addPlan').modal('hide')
          notifyTop('计划项 ' + self.plan.title + ' 创建成功!')
          self.plan.title = ''
          self.plan.description = ''
        }
        xhr.send( "plan[title]="+ this.plan.title + "&plan[description]=" + this.plan.description + "&plan[color_tag]=" + this.plan.color_tag )
      }
    }
  })
