- title '我的计划项'
.row#plans-list
  %template{'v-for' => 'plan in plans'}
    .col-md-3
      %a{':href' => 'plan.path'}
        .bs-callout#callout-helper-pull-navbar{':class' => 'plan.color_tag'}
          %h4
            {{plan.title}}
          %p
            {{plan.description}}

  .col-md-3
    .bs-callout.bs-callout-add#callout-helper-pull-navbar{"data-target" => "#addPlan", "data-toggle" => "modal"}
      %i.icon-plus.bs-callout-add-icon

  #addPlan.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "addPlanLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"}
              %i.icon-remove
          %h4#addPlanLabel.modal-title
            新建计划项
        .modal-body
          = render 'plans/form'
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} 取消
          %button.btn.btn-primary{:type => "button", 'v-on:click' => 'addPlan()'} 提交

:javascript
  var PlanUrl = '/p.json'
  var planslist = new Vue({
    el: '#plans-list',
    data: {
      plan: {
        title: '',
        description: '',
        color_tag: '',
      },
      plans: null
    },
    created: function () {
      this.fetchData()
    },
    methods: {
      fetchData: function () {
        var xhr = new XMLHttpRequest()
        var self = this
        xhr.open('GET', PlanUrl)
        xhr.onload = function () {
          self.plans = JSON.parse(xhr.responseText)
        }
        xhr.send()
      },
      addPlan: function () {

      }
    }
  })
