- title '我的计划项'
.row#plans-list
  - @plans.each do |p|
    .col-md-3
      = link_to p do
        .bs-callout#callout-helper-pull-navbar{class: "#{color_tag_class('bs-callout-' ,p.color_tag)}"}
          %h4
            = p.title
          %p
            = p.description

  .col-md-3
    .bs-callout.bs-callout-add#callout-helper-pull-navbar{"data-target" => "#addPlan", "data-toggle" => "modal"}
      %i.icon-plus.bs-callout-add-icon

#addPlan.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "addPlanLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"}
            %i.icon-remove
        %h4#addPlanLabel.modal-title
          新建计划项
      .modal-body
        计划项表单
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} 取消
        %button.btn.btn-success{:type => "button"} 提交
