-#- title @plan.title
.page-header#plan-page-header{'v-if' => 'plan != null'}
  %span.plan_title{'v-text' => 'plan.title'}
  %span.plan_description{'v-text' => 'plan.description'}
.page-content#plan-page-content
  .row
    %template{'v-for' => 'list in plan.lists'}
      .col-md-3
        .panel{':class' => 'list.color_tag_class'}
          .panel-heading
            {{list.title}}
          .panel-body
            %p{'v-if' => 'list.tasks.length == 0'} 暂无相关任务
            %template{'v-for' => 'task in list.tasks'}
              %p
                {{task.title}}
    .col-md-3.new-list-button
      %a{':href' => 'plan.new_list_path'}
        .plan-list-add
          %i.icon-plus
          添加一个任务组

:javascript
  var PlanShowUrl = '/p/ScAJJIBl.json'
  var lists_tasks = new Vue({
    el: '#app',
    data: {
      plan: {
        title: '',
        description: '',
        new_list_path: '',
        lists: [{
          title: '',
          color_tag: '',
          color_tag_class: '',
          new_task_path:'',
          tasks: [{
            title: ''
          }]
        }],
      },
      colorFilter: ''
    },
    created: function () {
      this.fetchData()
    },
    methods: {
      fetchData: function () {
        var xhr = new XMLHttpRequest()
        var self = this
        xhr.open('GET', PlanShowUrl)
        xhr.onload = function () {
          self.plan = JSON.parse(xhr.responseText)
        }
        xhr.send()
      },
    }
  })