.page-header#plan-page-header
  .row
    .col-md-5
      %span.plan_title
        = @plan.title
      %span.plan_description
        = @plan.description
  .row
    .col-md-3
      = render 'lists/form'
    .col-md-3
      = render 'tasks/form'