-#- title @plan.title
.page-header#plan-page-header{'v-if' => 'plan != null'}
  %span.plan_title{'v-text' => 'plan.title'}
  %span.plan_description{'v-text' => 'plan.description'}
.page-content#plan-page-content
  .row#list-content
    %template{'v-for' => 'list in filterListData'}
      .col-md-3
        .panel{':class' => 'list.color_tag_class'}
          .panel-heading
            %span
              {{list.title}}
            .operation-icons
              %i.icon-plus{'v-on:click' => 'newTask'}
          .panel-body
            .add-task-field
              = render 'tasks/form'
            %p{'v-if' => 'list.tasks.length == 0'} 暂无相关任务
            %template{'v-for' => 'task in list.tasks'}
              %p
                %span{':class' => 'task.status_class'}
                  {{task.title}}
    .col-md-3#new_list_area{ 'v-show' => 'newListField' }
      #new_list_field
        = render 'lists/form'
      .add-list-buttons
        %button.btn.btn-sm.btn-default{ :type => "button", 'v-on:click' => 'cancelList()' } 取消
        %button.btn.btn-sm.btn-primary{ :type => "button", 'v-on:click' => 'addList()' } 提交
    .col-md-3#new-list-button{ 'v-show' => '!!!newListField' }
      %a{'v-on:click' => 'newList()'}
        .plan-list-add
          %i.icon-plus
          添加一个任务组

:javascript
  var PlanShowUrl = '/p/#{params[:id]}.json'
  var lists_tasks = new Vue({
    el: '#app',
    data: {
      plan: {
        title: '',
        description: '',
        new_list_path: '',
        lists: [{
          title: '',
          color_tag: '',
          color_tag_class: '',
          new_task_path:'',
          tasks: [{
            title: '',
            status: '',
            status_class: ''
          }]
        }],
      },
      list: {
        title: '',
        color_tag: 0
      },
      task: {
        title: '',
      },
      colorFilter: '',
      newListField: false
    },
    created: function () {
      this.fetchData()
    },
    computed: {
      filterListData: function() {
        var data = this.plan.lists
        var filterArray = []
        var filterStr = this.colorFilter
        if ( filterStr == ''){
          return data
        }else{
          for (var i = 0; i < data.length; i++){
            if ( data[i].color_tag == filterStr ){
              filterArray.push(data[i])
            }
          }
          return filterArray
        }
      }
    },
    methods: {
      fetchData: function () {
        var xhr = new XMLHttpRequest()
        var self = this
        xhr.open('GET', PlanShowUrl)
        xhr.onload = function () {
          self.plan = JSON.parse(xhr.responseText)
        }
        xhr.send()
      },
      newList: function () {
        this.newListField = true
      },
      cancelList: function () {
        this.newListField = false
      },
      newTask: function () {
        $(event.currentTarget).closest('.panel').find('.add-task-field').show()
      },
      cancelTask: function () {
        $(event.currentTarget).closest('.add-task-field').hide()
      },
      selectColor: function (color){
        $('#new_list_field').css({'border-top-color':color})
      },
      addList: function () {
        var xhr = new XMLHttpRequest()
        var self = this
        var addListUrl = this.plan.new_list_path
        if (this.list.title == ''){
          $('#list_title').css({'border-color':'#d9534f'})
          return notifyTop('列表名称不能为空', 'warning');
        }
        xhr.open("POST", addListUrl)
        xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded")
        xhr.onload = function () {
          result = JSON.parse(xhr.responseText)
          self.plan.lists.unshift(result)
          self.newListField = false
          notifyTop('列表 ' + result.title + ' 创建成功!')
          self.list.title = ''
          $('#list_title').css({'border-color':'#ccc'})
        }
        xhr.send( "list[title]="+ this.list.title + "&list[color_tag]=" + this.list.color_tag )
      },
      addTask: function () {
        var xhr = new XMLHttpRequest()
        var self = this
        var addTaskUrl = $(event.currentTarget).closest('#new_task').find('#new_task_path').val()
        var taskInput = $(event.currentTarget).closest('#new_task').find('#task_title')
        var list = false
        var data = self.plan.lists
        for (var i = 0; i < data.length; i++){
          if ( data[i].new_task_path == addTaskUrl ){
            list = data[i]
          }
        }
        if (this.task.title == ''){
          taskInput.css({'border-color':'#d9534f'})
          return notifyTop('任务名称不能为空', 'warning');
        } else if (!list) {
          return notifyTop('列表不存在', 'warning');
        }
        xhr.open("POST", addTaskUrl)
        xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded")
        xhr.onload = function () {
          result = JSON.parse(xhr.responseText)
          list.tasks.unshift(result)
          notifyTop('任务 ' + result.title + ' 创建成功!')
          self.task.title = ''
        }
        xhr.send( "task[title]="+ this.task.title )
      },
    }
  })