.page-header#plan-page-header
  .row
    .col-md-5
      %span.plan_title
        = @plan.title
      %span.plan_description
        = @plan.description
.page-content#plan-page-content
  .row
    - 4.times do |i|
      .col-md-3
        .panel{class:"panel-#{['gray','green','red','qing'][i]}"}
          .panel-heading
            = ['未分组','Turbolinks 学习计划','Rails 进阶','时间管理的项目'][i]
          .panel-body
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br

