.page-header#plan-page-header
  .row
    .col-md-5
      %span.plan_title
        = @plan.title
      %span.plan_description
        = @plan.description
.page-content#plan-page-content
  .row
    .col-md-3
      .panel.panel-gray
        .panel-heading
          未分组
        .panel-body
          - 15.times do |i|
            %p
              任务#{i}
    .col-md-3
      = link_to new_list_path, title: '添加一个任务组' do
        .plan-list-add
          %i.fa.fa-plus
          添加一个任务组
