-#- title @plan.title
.page-header#plan-page-header{'v-if' => 'plan != null'}
  %span.plan_title{'v-text' => 'plan.title'}
  %span.plan_description{'v-text' => 'plan.description'}
.page-content#plan-page-content
  .row
    %template{'v-for' => 'list in plan.lists'}
      .col-md-3
        .panel{':class' => 'list.color_tag_class'}
          .panel-heading
            {{list.title}}
          .panel-body
            %p{'v-if' => 'list.tasks.length == 0'} 暂无相关任务
            %template{'v-for' => 'task in list.tasks'}
              %p
                %span{':class' => 'task.status_class'}
                  {{task.title}}
    .col-md-3#new_list{ 'v-show' => 'newListField' }
      #new_list_field
        = render 'lists/form'
      .add-list-buttons
        %button.btn.btn-sm.btn-default{ :type => "button", 'v-on:click' => 'cancelList()' } 取消
        %button.btn.btn-sm.btn-primary{ :type => "button", 'v-on:click' => 'addList()' } 提交
    .col-md-3#new-list-button{ 'v-show' => '!!!newListField' }
      %a{'v-on:click' => 'newList()'}
        .plan-list-add
          %i.icon-plus
          添加一个任务组

:javascript
  var PlanShowUrl = '/p/#{params[:id]}.json'
  var lists_tasks = new Vue({
    el: '#app',
    data: {
      plan: {
        title: '',
        description: '',
        new_list_path: '',
        lists: [{
          title: '',
          color_tag: '',
          color_tag_class: '',
          new_task_path:'',
          tasks: [{
            title: '',
            status: '',
            status_class: ''
          }]
        }],
      },
      list:{
        title: '',
        color_tag: 0
      },
      colorFilter: '',
      newListField: false
    },
    created: function () {
      this.fetchData()
    },
    methods: {
      fetchData: function () {
        var xhr = new XMLHttpRequest()
        var self = this
        xhr.open('GET', PlanShowUrl)
        xhr.onload = function () {
          self.plan = JSON.parse(xhr.responseText)
        }
        xhr.send()
      },
      newList: function () {
        this.newListField = true
      },
      cancelList: function () {
        this.newListField = false
      },
      selectColor: function (color){
        $('#new_list_field').css({'border-top-color':color})
      },
      addList: function () {
        var xhr = new XMLHttpRequest()
        var self = this
        var addListUrl = this.plan.new_list_path
        xhr.open("POST", addListUrl)
        xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded")
        xhr.onload = function () {
          result = JSON.parse(xhr.responseText)
          self.plan.lists.push(result)
          self.newListField = false
          notifyTop('列表 ' + result.title + ' 创建成功!')
          self.list.title = ''
        }
        xhr.send( "list[title]="+ this.list.title + "&list[color_tag]=" + this.list.color_tag )
      }
    }
  })