- flash.each do |name, message|
  :javascript
    $.notify({
      message: "#{message}",
    },{
      element: 'body',
      type: "info",
      placement: {
        from: "top",
        align: "center"
      },
      offset: 8,
      spacing: 10,
      z_index: 1031,
      delay: 2500,
      timer: 200,
      animate: {
        enter: 'animated fadeInDown',
        exit: 'animated fadeOutUp'
      },
    });