!!!
%html{:lang => "zh-CN"}
  = render 'layouts/head'
  = yield

  %script{:src => "/assets/jquery.easing.min.js"}
  %script{:src => "/assets/scrollreveal.min.js"}
  %script{:src => "/assets/jquery.magnific-popup.min.js"}
  %script{:src => "/assets/creative.js"}

:css
  html, body {
    height: 100%;
    width: 100%;
    webkit-tap-highlight-color: #222222;
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  }